# --- for Postgres ---
# DB_ENGINE=postgres
# DB_USER=admin
# DB_PASSWORD=admin
# DB_NAME=postgres

SECRET_KEY=django-insecure-x4s2y17zku_d-zxpa+tvll9-!6m-)ml8z#yio&2w*8x@$d-be4
ALLOWED_HOSTS=localhost,127.0.0.1