.chat-feed {
    border-right: 1px solid rgb(210, 210, 210);
}

.chat-feed-header {
    display: flex;
    height: max-content;
    font-size: 19.5px;
    font-weight: 700;
    padding: 26px 24px 12px;
    justify-content: space-between;
}

.chat-feed-header img{
    aspect-ratio: 1;
    width: 24px;
    cursor: pointer;
}

.chat-feed-title {
    display: flex;
    height: max-content;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 24px 10px;
}

.chat-feed-scroll {
    display: flex;
    flex-direction: column;
    height: max-content;
    overflow-y: auto;
}